<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Meta info -->
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Titles -->
      <title>YelpCamp</title>
      <link rel="icon" href="/images/favicon.png" type="image/png" />
      <!-- Google font -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&display=swap" rel="stylesheet" />
    
      <!-- ENVs -->
      <%- BOOTSTRAP_CSS %>      <!-- Bootstrap Css -->
      <%- ANIMATE_CSS %>        <!-- Animate -->
      <%- FONT_AWESOME %>       <!-- Font Awesome Icon -->

      <link rel="stylesheet" href="/stylesheets/styles.css" /> <!-- Custom Style -->
    </head>
    <body>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md navbar-light bg-info mb-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><i class="fa fa-campground fa-sm"></i> YelpCamp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/campgrounds">Home</a>
              </li>
              <li class="nav-item ms-md-auto">
                <ul class="navbar-nav">
                  <% if (!currentUser){ %>
                    <li class="nav-item">
                      <a class="nav-link" href="/register">Sign Up <i class="fa fa-user-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login <i class="fa fa-user"></i></a>
                    </li>
                  <% }else { %>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Signed in As <%= currentUser.username %></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout <i class="fa fa-sign-out-alt"></i></a>
                    </li>
                  <% } %>
                </ul>
              </li>
            </ul>
        </div>
      </nav>
      <!-- Success and Error User Update -->
      <div class="container">
        <!-- Success -->
        <% if (success && success.length > 0){ %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success:</strong> <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
        <!-- Error -->
        <% if (error && error.length > 0){ %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
      </div>
