<!-- ================================================================== -->
                    <!-- CAMPGROUND SHOW TEMPLATE -->
<!-- ================================================================== -->
<!-- including header -->
<% include ../partials/header %>

<!-- main page contents -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <img src="<%= campground.image %>" class="card-img-top" alt="Single Campground Image">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="float-right">$9.00/night</span>
                                <%= campground.name %>
                            </h5>
                            <p class="card-text"><%= campground.description %></p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <em>Submitted by <%= campground.author.username %></em>
                                </small>
                            </p>
                            <% if (currentUser && campground.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                    <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                                </form>
                           <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-secondary">
                        <div class="text-right">
                            <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                        </div>
                        <hr /> 
                        <% campground.comments.forEach(function(comment){ %>
                            <div class="row">
                                <div class="col-md-12 comment">
                                    <strong><%= comment.author.username %></strong>
                                    <span class="float-right">
                                        <%= comment.created.toLocaleDateString() %>
                                        <%= comment.created.toLocaleTimeString() %>
                                    </span>
                                    <p><%= comment.text %></p>

                                    <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                        <form class="d-inline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                                        </form>
                                    <% } %>

                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
                    
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <img src="<%= campground.image %>" alt="Single Campground Image" />
                        <div class="caption">
                           <h4>
                               <span class="pull-right">$9.00/night</span>
                               <a href="#"><%= campground.name %></a>
                           </h4> 
                           <p><%= campground.description %></p>
                           <p><em>Submitted by <%= campground.author.username %></em></p>
                           <% if (currentUser && campground.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                    <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                                </form>
                           <% } %>
                        </div>
                    </div>
                    <div class="well">
                        <div class="text-right">
                            <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                        </div>
                        <hr /> 
                        <% campground.comments.forEach(function(comment){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong><%= comment.author.username %></strong>
                                    <span class="pull-right">
                                        <%= comment.created.toLocaleDateString() %>
                                        <%= comment.created.toLocaleTimeString() %>
                                    </span>
                                    <p><%= comment.text %></p>
                                    <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        <% }); %>
                    </div> 
                </div> 
            </div> -->
        </div>
    </div>
</div>

<!-- including footer -->
<% include ../partials/footer %>